

*{
	margin: 0px;
	padding: 0px;
	border: none;
}

html, body{
	width: 100%;
	height: 100%;
}

#outer{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#content{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	max-width: 1300px;
	min-width: 853px;
	margin: 0px auto;
}

#header{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 100px;
}

#navigation{
	position: absolute;
	left: 140px;
	top: 0px;
	right: 220px;
}

.navItem{
	display: inline-block;
	width: 18%;
	height: 30px;
	padding-top: 3px;
}

#logo img{
	position: absolute;
	margin: 8px 20px;
}

#logo span{
	position: absolute;
	top: 50px;
	left: 150px;
}

#logoBackground{
	position: absolute;
	top: 40px;
	left: 120px;
}

#login{
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width:13%;
	padding: 10px;
	padding-right: 80px;
}

#login input{
	width: 100%;
	height: 20px;
	margin-top: 5px;
}

#login #loginSubmit{
	position: absolute;
	right: 10px;
	width: 60px;
	top: 37px;
	height: 49px;
}















