/*
Colors

#001D58
#1C55E7
#9CB3Ed


*/

*{
}

body{
	background-color: #001D58;
	font-family: 'Open Sans', sans-serif;
}

h1{
	font-size: 3em;
	font-weight: 300;
	color: #1C55E7;
	line-height: 0;
	margin-top: 40px;
	margin-bottom: 50px;
}

h2{
	font-size: 2.5em;
	font-weight: 300;
	color: #1C55E7;
	line-height: 0;
	margin-top: 50px;
	margin-bottom: 50px;
}

a{
	color: #001D58;
}

a:hover{
	color: #1C55E7
}

input, select{
	color: #001D58;
	border: 1px #001D58 solid;
}

iframe{
	border: 1px #000000 solid;
}

#container{
	background-color: #FFFFFF;
	border-left: 1px #000000 solid;
	border-right: 1px #000000 solid;
	box-shadow: 0px 0px 100px #000000;
}

#header{
	border-bottom: 1px #000000 solid;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
}

#navigation{
	
}

.navItem{
	text-decoration: none;
	color: #001D58;
	text-align: center;
	font-size: 1.1em;
	border: 1px #AAAAAA solid;
	border-top: none;
	border-radius: 0px 0px 10px 10px;
}

.navItem:hover{
	color: #FFFFFF;
	border-color: #001D58;
}

.buttonLook{
	cursor: pointer;
	border: 1px #AAAAAA solid;
	color: #001D58;
	
	
	background: rgb(252,252,252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(197,203,223,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(197,203,223,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(197,203,223,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(197,203,223,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(197,203,223,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(252,252,252,1) 0%,rgba(197,203,223,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#c5cbdf',GradientType=0 ); /* IE6-9 */
}

.buttonLook:hover{
	color: #FFFFFF;
	border: 1px #001D58 solid;
	
	
	background: rgb(126,155,229); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(126,155,229,1) 0%, rgba(0,29,88,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(126,155,229,1)), color-stop(100%,rgba(0,29,88,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(126,155,229,1) 0%,rgba(0,29,88,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(126,155,229,1) 0%,rgba(0,29,88,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(126,155,229,1) 0%,rgba(0,29,88,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(126,155,229,1) 0%,rgba(0,29,88,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e9be5', endColorstr='#001d58',GradientType=0 ); /* IE6-9 */
}

#logo{
	text-decoration: none;
}

#login{
	border-left: 1px #000000 solid;
	color: #001D58
}

#login input{
	
}

#login #loginSubmit{
	font-size: 1.2em;
}

#login #loginSubmit:hover{
	color: #FFFFFF;
}

#footer{
	border-top: 1px #000000 solid;
	box-shadow: 0px 10px 40px #000000;
	
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

.box{
	border: 1px #AAAAAA solid;
	
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

.box.infoBox{
	border: 1px #001D58 solid;
	color: #EEEEEE;
	
	background: rgb(0,29,88); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0,29,88,1) 0%, rgba(28,85,231,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,29,88,1)), color-stop(100%,rgba(28,85,231,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,29,88,1) 0%,rgba(28,85,231,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,29,88,1) 0%,rgba(28,85,231,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,29,88,1) 0%,rgba(28,85,231,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(0,29,88,1) 0%,rgba(28,85,231,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001d58', endColorstr='#1c55e7',GradientType=0 ); /* IE6-9 */
}

.box.infoBox a{
	color: #AACCFF;
}

.box.infoBox a:hover{
	color: #FFFFFF;
}

.box .infoBoxTitle{
	color: #FFFFFF;
	display: block;
	line-height: 1.5;
	font-size: 1.8em;
	font-weight: 300;
}

.box .infoBoxSubtitle{
	color: #FFFFFF;
	display: block;
	line-height: 1.1;
	font-size: 1.4em;
	font-weight: 300;
}

.important{
	font-size: 1.1em;
	color: #1C55E7;
}

.infoBox .important{
	color: #FFFFFF;
}

.formSubmitButton{
	border: 1px #AAAAAA solid;
	font-size: 1.2em;
}

.formSpacer{
	background-color: #001D58;
	height: 1px;
}













