

.newsElement{
	
}

.newsDate{
	display: block;
	width: 100%;
	text-align: right;
	height: 0px;
}

.newsAttachments{
	margin-top: 20px;
}

.attachedImage{
	display: inline-block;
	margin: 10px;
	width: 150px;
}