#googleMaps{
	margin-left: 50px;
	margin-bottom: 50px;
	width: 640px;
}

#googleMaps a{
	float: right;
}

#loginBox{
	display: inline-block;
}

.buildingImage{
	width: 640px;
	margin-left: 50px;
	margin-bottom: 100px;
}

.buildingImage *{
	display: block;
	margin-bottom: 5px;
}

.buildingImage .imageSubtitle{
	float: right;
}